{% extends "base.html" %}
{% block content %}
<h2>about</h2>
<p>hi, i'm grant freeman. i have spent most of my life completely
engrossed by the internet and computing. i'm currently a student at louisiana
tech university studying computer science with concentrations in big data
and cyber security. i'm also working as an associate consultant at
<a class="link" href="https://fenwaygroup.com/">the fenway group</a>. my
favorite development tasks are anything related to python, my favorite language.
 a short sampling of some of my personal projects can be found on my
<a class="link">projects</a> page.
</p>
<h3>interests</h3>
<ul>
  <li>linguistics</li>
  <li>reading</li>
  <li>cooking</li>
  <li>fashion</li>
  <li>minimalism</li>
  <li>analog</li>
</ul>
{% endblock %}
