{% extends "base.html" %}
{% block content %}
<h2>about</h2>
<p>hi, i'm grant freeman. i have spent most of my life completely
engrossed by the internet and computing. I'm currently working at
<a class="link" href="https://www.wayfair.com">wayfair</a>. formerly, i worked as a devops consultant at
<a class="link" href="https://fenwaygroup.com/">the fenway group</a>. my
favorite development tasks are anything related to python, my favorite language.
 a short sampling of some of my personal projects can be found on my
<a class="link" href="/projects">projects</a> page.
</p>
<h3>interests</h3>
<ul>
  <li>linguistics</li>
  <li>reading</li>
  <li>cooking</li>
  <li>minimalism</li>
  <li>hi-fi audio</li>
</ul>
{% endblock %}
