{% extends "base.html" %}

{% block content %}
    <h2>home</h2>
    <div class="text">hi, welcome to grantfreeman.com. this is where i keep my projects and interests organized.</div>
    <h3>links</h3>
    <ul>
      <li>
        <a class="link" href="https://github.com/grant-freeman">github</a>
      </li>
      <li>
        <a class="link" href="https://twitter.com/notgrantfreeman">twitter</a>
      </li>
      <li>
        <a class="link" href="https://www.discogs.com/user/grantfreeman">discogs</a>
      </li>
    </ul>
{% endblock %}
