.box {
  font-family: 'Roboto', sans-serif;
  width: 540px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.nav {
  text-align: center;
}

.link, .link:visited {
  color: #646536;
}

.link:hover {
  color: #9ABD97;
}

ul {
  list-style: none;
}

ul li:before {
  content: "\203A \0020";
  color: #888;
  position: absolute;
  margin-left: -19px;
}

body {
  color: #483D03;
  background-color: #D0F1BF;
}
